*{margin:0;padding:0;box-sizing:border-box;font-size:0;}  
nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      /*background-color:#3366FF;
      border:1px solid :#3366FF;*/
      background-color:#FFFFFF;
      border:1px solid :#FFFFFF;
      text-align:center;
      /*color:#FFFFFF;*/
	  color:#666666;
      position:relative;
	  font:Arial;
	  font-weight:bold;
}
           
nav li:hover{
      /*background-color:#FFFFFF;
      color:#3366FF;*/
      background-color:#FFFFFF;
      color:#FF0000;
	  position:relative;
	  border-bottom-style:solid;
	  border-bottom-width:thin;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      position:absolute;
      Z-INDEX: 1;
      display:block;
      top:30px;
      left:0px;
}

DIV.c  {   /*seccion donde se proyectan los banners*/
    POSITION: relative;
    MARGIN: auto;
    WIDTH: 1024px;
    HEIGHT: 379px;
    BACKGROUND: white;
}

DIV.c1 {   /*esta seccion le da tamaño de proporcion al contenedor png*/
    POSITION: relative;
    MARGIN: auto;
    WIDTH: 1024px;
	HEIGHT: 379px;
    BACKGROUND: white;
}

DIV.c1 IMG  {   /*esta seccion le da tamaño de proporcion al archivo png*/
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 1024px;
    HEIGHT: 379px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px;
	POSITION: absolute;
}

.hidden  {
    DISPLAY: none
}

DIV.marco_menu {   /*crea un marco para el menú horizontal*/
    POSITION: relative;
    MARGIN: auto;
    WIDTH: 1024px;
	/*background-color:#3366FF;*/
	background-color:#FFFFFF;
}

DIV.marco_logo {   /*crea un marco para el menú horizontal*/
    POSITION: relative;
    MARGIN: auto;
    WIDTH: 1024px;
	height:64px;
	background-color:#FFFFFF;
}

Div.logo{
    POSITION: absolute;
	background :url(../img/logo.png) no-repeat;
	background-size: cover;
    WIDTH: 265px;
	height: 44px;
	margin-top:10px;
}

Div.telefono_ventas {
    WIDTH: 480px;
	height: 20px;
	margin-left:540px;
	margin-top:10px;
    POSITION: relative;
	font-size: 14px;
	font:Arial;
	text-decoration:none;
	color:#3366FF;
	text-align:right;
}

Div.redes_sociales_encabezado_link {
    WIDTH: 184px;
	height: 50px;
	margin-left: 840px;
    POSITION:absolute;
	background-color:#97BD8A;
	text-align:left;
	left: 0px;
	top: 0px;
}

Div.redes_sociales_pie_pagina {
    WIDTH: 180px;
	height: 30px;
	margin-left:840px;
	margin-top:2px;
    POSITION: relative;
	font-size: 14px;
	font:Arial;
	text-decoration:none;
	color:#3366FF;
	text-align:left;
}

Div.direccion {
    WIDTH: 480px;
	height: 14px;
	margin-left:540px;
	margin-top:10px;
    POSITION: relative;
	font-size: 14px;
	font:Arial;
	text-decoration:none;
	color:#3366FF;
	text-align:right;
}

Div.frame_menu_vertical{
	height:200px;
	width:1024px;
	position:relative;
}

Div.frame_menu_automatismo{
	height:990px;
	width:1024px;
	position:relative;
	top:5px;
}

Div.frame_pos_vertical{
	height:200px;
	width:1024px;
	position:relative;
	/*background-color:#CCCCCC;*/ 
	background-color:#97BD8A;
	font:Arial;
	color:#005300;
}

Div.frame_pie_pagina{
	height:40px;
	width:1024px;
	position:relative;
	/*background-color:#E4E4E4;*/
}

Div.frame_menu_vertical_pa{
	height:167px;
	width:260px;
	margin-left:201px;
	margin-top:33;
	position:absolute;
	left: 2px;
	top: 0px;
}

Div.titulo_frame_menu_vertical_pa{
    height:33px;
	width:260px;
	margin-left:201px;
	margin-top:0;
	position:absolute;
	left: 2px;
	top: 0px;
}

Div.frame_menu_vertical_a{
	height:167px;
	width:260px;
	margin-left:482px;
	margin-top:33px;
	position:absolute;
	left: 2px;
	top: 0px;
}

Div.titulo_frame_menu_vertical_a{
    height:33px;
	width:260px;
	margin-left:482px;
	margin-top:0;
	position:absolute;
	left: 2px;
	top: 0px;
}

Div.body_link_menu_izquierda{
	height:990px;
	width:824px;
	position:absolute;
	top:0px;
	left: 200px;
	font:Arial;
	font-size:12px;
	color:#000000;	
}

Div.menu_contenido_seccionales{
	height:510px;
	width:150px;
	position:absolute;
	top:0px;
	left:30px;
	font:Arial;
}

Div.contenido_seccionales{
	height:985px;
	width:500px;
	position:relative;
	top:0px;
	left:230px;
}

Div.body_link_centro_pagina{
	height:990px;
	width:824px;
	position:relative;
	top:0px;
	/*left: 200px;*/
	font:Arial;
	font-size:12px;
	color:#000000;	
}

div.encabezado_link{
	height:50px;
	width:844px;        /*longitud total - espacios a la izquierda del texto  1024-57*/
	position:relative;
	font-size:24px;
	font:Arial;
	color:#005300;
	background-color:#97BD8A;
	line-height:50px;
	text-align:center;
	padding-left: 57px; /*espacios a la izquierda del texto*/
}

Div.frame_menu_vertical_ss{
	height:167px;
	width:260px;
	margin-left:764px;
	margin-top:33px;
	position:absolute;
	left: 2px;
	top: 0px;
}

Div.titulo_frame_menu_vertical_ss{
    height:33px;
	width:260px;
	margin-left:762px;
	margin-top:0;
	position:absolute;
	left: 2px;
	top: 0px;
}


Div.formulario_solicitud{
	height:475px;
	width:301px;
	position:relative;
	top:20px;
	left:0px;
	font:Arial;
	font-size:12px;
	color:#000000;	
}

Div.frame{ /*Frame principal, le da el tamaño total a la página web*/
    width:1024px;
    height:2000px;
	POSITION: relative;
	MARGIN: auto;
	BACKGROUND: white;
}

Div.frame_menu_vertical_qs{
	height:717px;
	width:300px;
	position:relative;
	top:10px;
}

Div.body_link_centro_pagina_qs{
	height:717px;
	width:720px;
	position:absolute;
	margin-top:0px;
	margin-left:307px;
	left: 0px;
	top: 0px;
}

Div.frame_direcc_contacto{
	height:717px;
	width:300px;
	position:absolute;
	top:0px;
	font:Arial;
	font-size:14px;
	margin-left:600px;
	left: 0px;
	/*margin-top:0px;*/
}

Div.body_link_centro_pagina_si{
	height:617px;
	width:250px;
	position:relative;
	margin-top:23px;
	margin-left:387px;
	left: 0px;
	top: 0px;
}


Div.body_link_centro_pagina_pe{
	height:810px;
	width:950px;
	position:relative;
	margin-top:23px;
	margin-left:51px;
	left: 0px;
	top: 0px;
}

Div.body_link_centro_pagina_videos{
	height:810px;
	width:950px;
	position:relative;
	margin-top:23px;
	margin-left:51px;
	left: 0px;
	top: 0px;
}